body{background: rgb(204,204,204);font-size:12px;}
page{/* background: white; */ display: block; margin: 0 auto; margin-bottom: 0; /* box-shadow: 0 0 0.5cm rgba(0,0,0,0.5); */}
page[size='A4']{width: 21cm; height: 29.7cm;}
#page[size='A4'][layout='landscape']{width: 29.7cm; height: 21cm;}
#page[size='A3']{width: 29.7cm; height: 42cm;}
#page[size='A3'][layout='landscape']{width: 42cm; height: 29.7cm;}
#page[size='A5']{width: 14.8cm; height: 21cm;}
#page[size='A5'][layout='landscape']{width: 21cm; height: 14.8cm;}
@media print{body, page {margin: 0; box-shadow: 0;}}

.titleA4dummy {padding: 4px; position:static;}
.titleA4 {letter-spacing: 10px; position:static;}
.titleA4 p.title{margin: 1; padding: 1; border: 1px solid #aaa; text-align:center; background: rgb(242,242,242); color: black; font-size: 0.8cm; font-family: "나눔고딕코딩"; position:static;}
.titleA4 p.sub1_1{margin: 1; padding: 1; border: 1px solid #aaa; text-align:center; background: rgb(242,242,242); color: black; font-size: 0.4cm; font-family: "나눔고딕코딩"; float:left; width:20%;}
.titleA4 p.sub1_2{margin: 1; padding: 1; border: 1px solid #aaa; text-align:center; background: white; color: black; font-size: 0.4cm; font-family: "나눔고딕코딩"; float:left; width:36.9%;}
.titleA4 p.sub1_3{margin: 1; padding: 1; border: 1px solid #aaa; text-align:center; background: white; color: black; font-size: 0.4cm; font-family: "나눔고딕코딩"; float:left; width:36.9%;}
.titleA4 p.sub2_1{margin: 1; padding: 1; border: 1px solid #aaa; text-align:center; background: rgb(242,242,242); color: black; font-size: 0.4cm; font-family: "나눔고딕코딩"; float:left; width:20%;}
.titleA4 p.sub2_2{margin: 1; padding: 1; border: 1px solid #aaa; text-align:center; background: white; color: black; font-size: 0.4cm; font-family: "나눔고딕코딩"; float:left; width:75.9%;}
.titleA4 p.bottom{margin: 1; padding: 1; border: 1px solid #aaa; text-align:center; background: white; color: black; font-size: 0.4cm; font-family: "나눔고딕코딩"; float:left; width:97.9%;}
.bodyA4 {letter-spacing: 10px; position:static;}
.bodyA4 p.title{margin: 2; padding: 5; border: 1px solid #aaa; text-align:left; background: white; color: black; font-size: 0.5cm; font-family: "나눔고딕코딩"; float:left; width:97.9%;}
.bodyA4 span.sub{margin: 2; padding: 5; text-align:left; background: white; color: black; font-size: 0.4cm; font-family: "나눔고딕코딩"; float:left; width:97.9%;}
.bottomA4 p.title{margin: 2; padding: 5; border: 1px solid #aaa; text-align:center; background: rgb(242,242,242); color: black; font-size: 0.7cm; font-family: "나눔고딕코딩"; float:left; width:97.9%;}
.bottomA4 p.sub1_1{margin: 2; padding: 5; border: 1px solid #aaa; text-align:center; background: rgb(242,242,242); color: black; font-size: 0.4cm; font-family: "나눔고딕코딩"; float:left; width:20%;}
.bottomA4 p.sub1_2{margin: 2; padding: 5; border: 1px solid #aaa; text-align:center; background: white; color: black; font-size: 0.4cm; font-family: "나눔고딕코딩"; float:left; width:36.9%;}
.bottomA4 p.sub1_3{margin: 2; padding: 5; border: 1px solid #aaa; text-align:center; background: white; color: black; font-size: 0.4cm; font-family: "나눔고딕코딩"; float:left; width:36.9%;}
.bottomA4 p.sub2_1{margin: 2; padding: 5; border: 1px solid #aaa; text-align:center; background: rgb(242,242,242); color: black; font-size: 0.4cm; font-family: "나눔고딕코딩"; float:left; width:20%;}
.bottomA4 p.sub2_2{margin: 2; padding: 5; border: 1px solid #aaa; text-align:center; background: white; color: black; font-size: 0.4cm; font-family: "나눔고딕코딩"; float:left; width:75.9%;}
.bottomA4 p.sub3{margin: 2; padding: 5; border: 1px solid #aaa; text-align:center; background: white; color: black; font-size: 0.5cm; font-family: "나눔고딕코딩"; float:left; width:97.9%;}


/********** SMP **********/
.indent10{padding: 0 0.5rem}
.consent_title{font-size:1.1rem;}
body{margin:0px auto;}
#saveForm table {background: white; box-shadow: 0 0 0.5cm rgba(0,0,0,0.5); margin: 0 auto; border:1px solid #333;border-spacing: 0px;}
#saveForm table tr, #saveForm table th, #saveForm table td {border:1px inset} 
#saveForm .cont {padding:0 1rem}
.align-center{text-align: center !important} 
.align-left{text-align: left  !important}
.align-right{text-align: right  !important}

p {margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;}
.text-wraning{color: red}
/*
.mt-3 {margin-top: 2rem}
.mt-4 {margin-top: 2.5rem}
*/
.p-1{padding:0 1rem}
.btn{font-size:1rem}
.pm-1 p {margin-block-start: 0.25rem;
    margin-block-end: 0.25rem;}